{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Registro de Tipo de Tribunal</h1>
    <br/><br/><br/>
    <fieldset>
        <legend>Datos</legend>
        <form action="{{ path('tribunaltipo_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <br/><br/>
            <p align="center">
                <button type="submit" class="css3button">Registrar</button>
            </p>
        </form>
    </fieldset>
{% endblock %}