{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Registro de Tipo de Tribunal</h1>

    <form action="{{ path('tribunaltipo_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Registrar</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('tribunaltipo') }}">
                Regresar a la Lista
            </a>
        </li>
    </ul>
{% endblock %}