<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
    {% block titulo %}
            DEM
    {% endblock %}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inhack20controldistribucion/css/layout.css') }}" />
{% endblock %}
</head>
<body class="gradiente">    
    
    <div id="wrapper">
           <div id="headerwrap">
                <div id="header">
                    <p align="center">
                    <img src="{{ asset('bundles/inhack20controldistribucion/images/cabecera.jpg')}}" width="978px" height="85" align="center" />
                     </p>
                </div>
            </div>
        <div id="navigationwrap">
            <div id="navigation">
                <p>This is the Menu</p>
            </div>
        </div>
        <div id="leftcolumnwrap">
            <div id="leftcolumn">
                <p>
                {% block menu %}
                    {% render 'INHack20ControlDistribucionBundle:Principal:menu' %}
                {% endblock  %}
                </p>
                    
            </div>
        </div>
        <div id="contentwrap">
            <div id="content">
            {% block contenido %}
                    <p>Este es el contenido</p>
                {% endblock %}
            </div>
        </div>
        <div id="footerwrap">
            <div id="footer">
                {% block pie %}
                    <p align="center">SDC &copy; 2012 &#126 Desarrollado por: Ing. Carlos Mendoza </p>
                {% endblock  %}
            </div>
        </div>
    </div>
   
</body>
</html>