{% extends 'INHack20ControlDistribucionBundle::layout.html.twig' %}

{% block contenido %}
    <p>
        <b>Bienvenido {{ (app.user.nombre ~' '~ app.user.apellido) | title }} al 
            Sistema de Distribuci&oacute;n de Causas -- S.D.C.</b><br><br>
    </p>
<div id="texto">
    <p>
        Software diseñado para la automatizaci&oacute;n de la Distribuci&oacute;n
        de las diferentes causas jurídicas (Sobreseimientos, Querellas, Procedimientos)
        llevados por los Tribunales de Juicios y Control seg&uacute;n su asignaci&oacute;n respectiva.
     </p>
</div>
<div id="imagen">
    <img src="{{ asset('bundles/inhack20controldistribucion/images/balanza.jpg') }}" width="150px" height="150px" />
</div>
<style type="text/css">
        #texto {
            width: 500px;
            float: left;
            font-weight: bold;
            line-height : 20px;
            text-align: justify;
        }
        #imagen {
            float: right;
            border: 5px solid #d0d0d0; 
            border-style: dashed;
            border-spacing: 4px;
            
        }
</style>
{% endblock %}