table{
    *border-collapse: expression('separate', cellSpacing = '10px'); /* IE7 and lower */
    border-collapse: separate;
    border-spacing: 5px;
    margin: auto;
    
}
th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
table label{
   font: 100 120% sans-serif bold;
   color: #000000;
}

table .tableCSS{
 border-collapse: collapse;
 border-spacing: 0;
 border: none;
 font:normal 10pt arial;
 width:100%;
 -moz-box-shadow:0px 1px 2px #888;
 -webkit-box-shadow:0px 1px 2px #888;
 box-shadow:0px 1px 2px #888;
}

/*====================tabla css====================*/
.tableCSS thead tr{

background-image: linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -o-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -moz-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -webkit-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -ms-linear-gradient(bottom, #317CC3 0%, #353535 100%);

background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, #317CC3),
 color-stop(1, #353535)
);

}

.tableCSS th{
 color:#C9C9C9;
 text-shadow:1px 1px 1px #000;
 padding:.5em;
 font-weight: bold;
 font:normal 9pt arial;
}

.tableCSS th:hover{
background-image: linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -o-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -moz-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -webkit-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -ms-linear-gradient(bottom, #353535 0%, #D45500 100%);

background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, #353535),
 color-stop(1, #D45500)
);
 color: #fff;
 -moz-box-shadow:0px 1px 2px #fff;
    -webkit-box-shadow:0px 1px 2px #fff;
    box-shadow:0px 1px 2px #fff;
}

.tableCSS th:first-child{
 width:30px;
 color:#C9C9C9;
}

.tableCSS tr td{
 padding:.5em;
 border: solid 1px #888;
 font:normal 9pt arial;
 text-align: center;
}

.tableCSS tr td:first-child{
 background-image: linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -o-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -moz-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -webkit-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -ms-linear-gradient(bottom, #317CC3 0%, #353535 100%);

background-image: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0, #317CC3),
color-stop(1, #353535)
);
 text-align: center;
 color:#C9C9C9;
 border: none; border-right:solid 1px #fff;
}

.tableCSS tr.odd{
 background-color:#cccccc;
}

.tableCSS tr.even{
 background-color:#ececec;
}

.tableCSS tbody tr:hover{
 background-color:#aaccff;
 -moz-box-shadow:0px 1px 3px #888;
    -webkit-box-shadow:0px 1px 3px #888;
    box-shadow:0px 1px 3px #888;
}

.tableCSS tbody tr:hover td:first-child{
background-image: linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -o-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -moz-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -webkit-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -ms-linear-gradient(bottom, #353535 0%, #D45500 100%);

background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, #353535),
 color-stop(1, #D45500)
);
 color: #fff;
 -moz-box-shadow:0px 1px 2px #fff;
    -webkit-box-shadow:0px 1px 2px #fff;
    box-shadow:0px 1px 2px #fff;
}

.tableCSS{
 border-collapse: collapse;
 border: none;
 font:normal 10pt arial;
 width:100%;
}

.tableCSS thead tr{
 background-image: linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -o-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -moz-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -webkit-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -ms-linear-gradient(bottom, #317CC3 0%, #353535 100%);

background-image: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0, #317CC3),
color-stop(1, #353535)
);
}

.tableCSS th{
 color:#C9C9C9;
 text-shadow:1px 1px 1px #000;
 padding:.5em;
 font-weight: bold;
}

.tableCSS th:hover{
 background-image: linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -o-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -moz-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -webkit-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -ms-linear-gradient(bottom, #353535 0%, #D45500 100%);

background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, #353535),
 color-stop(1, #D45500)
);
 color: #fff;
 -moz-box-shadow:0px 1px 2px #fff;
    -webkit-box-shadow:0px 1px 2px #fff;
    box-shadow:0px 1px 2px #fff;
}

.tableCSS th:first-child{
 width:30px;
 color:#C9C9C9;
}

.tableCSS tr td{
 padding:.5em;
 border: solid 1px #888;
}

.tableCSS tr td:first-child{
 background-image: linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -o-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -moz-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -webkit-linear-gradient(bottom, #317CC3 0%, #353535 100%);
background-image: -ms-linear-gradient(bottom, #317CC3 0%, #353535 100%);

background-image: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0, #317CC3),
color-stop(1, #353535)
);
 text-align: center;
 color:#C9C9C9;
 border: none; border-right:solid 1px #fff;
}

.tableCSS tr.odd{
 background-color:#cccccc;
}

.tableCSS tr.even{
 background-color:#ececec;
}

.tableCSS tbody tr:hover{
 background-color:#aaccff;
 -moz-box-shadow:0px 1px 3px #888;
    -webkit-box-shadow:0px 1px 3px #888;
    box-shadow:0px 1px 3px #888;
}

.tableCSS tbody tr:hover td:first-child{
background-image: linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -o-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -moz-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -webkit-linear-gradient(bottom, #353535 0%, #D45500 100%);
background-image: -ms-linear-gradient(bottom, #353535 0%, #D45500 100%);

background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0, #353535),
 color-stop(1, #D45500)
);
 color: #fff;
 -moz-box-shadow:0px 1px 2px #fff;
    -webkit-box-shadow:0px 1px 2px #fff;
    box-shadow:0px 1px 2px #fff;
}
