{% extends 'INHack20ControlDistribucionBundle:Principal:index.html.twig' %}

{% block contenido %}
    <h1>Casos</h1>
    <br/>
        {% if(parametros is defined and parametros['f_desde'] != '' and parametros['f_hasta'] !='') %}
            <h2>Desde <b>{{ parametros['f_desde'] | date('d-m-Y') }}</b> Hasta <b>{{ parametros['f_hasta'] | date('d-m-Y') }}</b></h2>
        {% endif %}
        {% if(parametros is defined and parametros['fecha'] != '') %}
            <b>Casos registrados hoy {{ parametros['fecha'] | date('d-m-Y') }}</b>
        {% endif %}
    <br/>
    {% if formBuscar is defined %}
        {% include 'INHack20ControlDistribucionBundle:Caso:formBuscar.html.twig' %}
    {% endif %}
        <br/>
    <div id="result-busqueda">
        {% include 'INHack20ControlDistribucionBundle:Caso:lista.html.twig' %}
    </div>
    <br/>
{% endblock %}